.coin {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0 40px;
  text-align: center;
}

.coin > h2,
.coin > h3,
.coin > img {
  width: 80px;
  margin: 4px auto;
  margin-left: 10px;
  text-align: center;
}

.coin > button{
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.coin > h3 {
  font-size: 0.7rem;
}

.coin > .priceC {
  width: 10px;
}

.coin > img {
  width: 40px;
  height: 40px;
}

.good {
  color: #2a9d8f;
}

.bad {
  color: #e76f51;
}
