/* .overlay {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); */
/*   position: absolute;
} */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  background-color: #20282b;
  padding: 75px 100px;
  border-radius: 8px;
  border-bottom: 4px solid #2a9d8f;
  border-left: 4px solid #2a9d8f;
  border-right: 4px solid #e76f51;
  border-top: 4px solid #e76f51;
  z-index: 1001;
}

.modal > .title {
  margin: 25px 0;
}

.icon {
  width: 60px;
  height: 60px;
}

.modal > .average {
  margin: 25px 0;
}

.modal > .supply {
  margin: 25px 0;
}

.modal .social-media {
  margin: 25px 0;
}

.social-media > a {
  display: block;
}

.modal button {
  border: none;
  color: white;
  background-color: #2a9d8f;
  padding: 10px 25px;
  border-radius: 8px;
}
